<!-- Main jumbotron -->
<div class="header" style="min-height: 100px !important; background-image: url(/images/header.jpg) !important;">
    <div class="nav">
        <div class="container">
            <div class="nav-container">
                <h1 class="brand">Tenantive.ly</h1>
                <a href="/login">Log in or Sign Up</a>
            </div>
        </div>
    </div>
</div>