<!-- Main jumbotron -->
<div
  class="header"
  style="min-height: 100px !important; background-image: url(/images/header.jpg) !important;"
>
  <div class="nav">
    <div class="container">
      <div class="nav-container">
        <a href="/">
          <img class="head-logo" src="/images/tenantively-logo-dark.png" alt="">
        </a>
        {{#if loggedIn}}
          <a href="/dashboard">Dashboard</a>
          <button id="logout" class="btn-no-style">Logout</button>
        {{else}}
          <a href="/login">Login</a>
        {{/if}}
      </div>
    </div>
  </div>
</div>

