<!-- Main jumbotron -->
<div class="jumbotron">
  <div class="nav">
    <div class="container">
      <nav class="nav-container">
        <h1 class="brand"><a href="/">Tenantive.ly</a></h1>
        {{#if loggedIn}}
          <button id="logout" class="btn-no-style">Logout</button>
        {{else}}
          <a href="/login">Login</a>
        {{/if}}
      </nav>
    </div>
  </div>
  <div class="container">
    <h1 class="display-3">Manage your properties with ease</h1>
  </div>
</div>