<a href="/dashboard/{{id}}" class="list-group-item list-group-item-action flex-column align-items-start">
  <div class="d-flex w-100">
    <img class="property-thumbnail" src="https://tenantively-images.s3.amazonaws.com/{{property_image}}">
    <div>
      <h3 class="mb-1">{{address}}</h5>
        <p>Rent: <strong>$ {{monthly_rent}}</strong></p>
    </div>
  </div>
<<<<<<< HEAD
</a>
=======
</a>
>>>>>>> 913ec6f21c7d3ee0ad3c2275834cb68d52286de4
