<!-- jumbotron -->
{{> header}}
<div class="container">
  <h1>My Properties</h1>
</div>
<div class="container ">
  <div class="row flex">
    {{#each properties as |property|}}
      {{> property-dashboard}}
    {{/each}}
  </div>
</div>