<div class="container">
      <div class="row mt-5 justify-content-between">
    {{#each properties as |property|}}
          <div class="col-lg-4">
    {{> property-home property}}
          </div>
      {{/each}}
      </div>
    </div>