* {
  color: #0c4279;
}

a {
  text-decoration: none;
  color: #0c4279;
}

.jumbotron {
  background-image: url(../images/rooftops.jpg);
  background-size: cover;
  background-position: bottom;
  color: #0c4279;
  min-height: 450px;
  padding-top: 20px;
}

.header {
  background-image: url(../images/header.jpg);
  background-size: cover;
  background-position: bottom;
  color: #0c4279;
  min-height: 450px;
  padding-top: 20px;
}

.err {
  text-align: center;
  margin-right: auto;
  margin-left: auto;
  width: 300px;
}

.err-image {
  padding-top: 100px;
  text-align: center;
  background-color: #31404C;
  margin-right: auto;
  margin-left: auto;
}



.err-image img {
  width: 800px;
}

.nav-container {
  color: #0c4279;
  display: flex;
  justify-content: space-between;
  margin-bottom: 5vw;
  padding: 10px;
  border-radius: 10px;
}

.brand {
  font-size: 30px;
}

.btn-primary {
  background-color: #0c4279;
  color: white;
}

.btn:hover {
  background-color: #6d8eaf;
}

.content-item {
  font-weight: bold;
}

.card {
  padding: 20px;
}

.login-container {
    max-width: 400px;
}

.dash-menu {
  padding: 8px 8px;
  margin-top: 20px;
  margin-bottom: 20px;
  background-color: #0c4279;
}

.navigation {
  color: white;
  padding-left: 5px;
  font-size: 14px;
}

.dropdown-toggle, .dash-menu-button {
  background-color: #0c4279;
  border: none;
  letter-spacing: 2px;
  font-size: 14px;
  text-transform: uppercase;
}

.dash-card {
  border: 1px solid #D8D8D8;
  border-radius: 10px;
  overflow: hidden;
  background-color: white;
}

.home-card {
  height: 300px;
}

.logo {
  width: 35px;
}

.head-logo {
  object-fit: contain;
  width: 200px;
  /* height: 100px; */
  overflow: hidden;
}

.menu-options {
  padding-top: 31px;
  padding-bottom: 19px;
}

.menu-options ul {
  list-style: none;
  display: inline-flex;
  margin-bottom: 0px;
}

.menu-options ul li {
  margin-left: 30px;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 0.12rem;
}

.dash-card-title {
  background-color: #F7F7F7;
  padding-right: 15px;
  text-transform: uppercase;
  letter-spacing: 0.15rem;
  font-size: 12px;
}

.home-card-img-top {
  height: 100%;
}

.home-card-title {
  position: relative;
  background-color: #F7F7F7;
  padding-right: 15px;
  text-transform: uppercase;
  letter-spacing: 0.15rem;
  font-size: 12px;
}

.home-card-title h2 {
  width: 100%;
  position: absolute;
  background-color: #F7F7F7;
  bottom: 0px;
  font-size: 18px;
  font-weight: 650;
  text-transform: uppercase;
  letter-spacing: 2px;
  padding: 13px;
  margin-bottom: 0px
}

.dash-card-title h2 {
  font-size: 18px;
  font-weight: 650;
  text-transform: uppercase;
  letter-spacing: 2px;
  padding: 13px;
  margin-bottom: 0px
}

.dash-card-content {
  padding: 13px;
}

.dash-card-home-image {
  height: 100%;
  overflow: hidden;
}

.dash-card-home-image img {
  object-fit: cover;
}

.dash-card-badge {
  position: relative;
}

.dash-menu-left {
  width: 300px;
}

.dash-card-rent {
  font-size: 17px;
  position: absolute;
  padding: 7px 15px;
  border-radius: 0px 0px 15px 0px;
  border-right: solid 2px white;
  border-bottom: solid 2px white;
  top: 0px;
  display: block;
  background-color: #86bd4f;
  color: white;
  -webkit-box-shadow: 0px 0px 17px 5px rgba(0,0,0,0.27); 
  box-shadow: 0px 0px 17px 5px rgba(0,0,0,0.27);
}

.property-thumbnail {
  width: 50px;
  height: 50px;
  margin-right: 10px;
}

.dash-card-content .list-group-item {
  padding: 10px;
}

.dash-card-content p {
  margin: 0px;
  padding: 0px;
}

.dash-card-content .list-group-item h3 {
  font-size: 20px;
}

.plan-icon {
  width: 100px;
  margin-bottom: 10px;
}

.plan-overview {
  text-align: center;
}

.dash-property-image {
    max-width: 200px;
}

.single-image {
  border: solid 1px #D8D8D8;
  padding: 0px;
  border-radius: 10px;
  overflow: hidden;
  object-fit: cover;
  width: 100%;
}

.single-property-details {
  text-shadow: rgba(255,255,255,1) 0px 0px 10px;

}

.insights-list ul {
  list-style-type: "✓";
  padding-left: 15px;
}

.insights-list ul li {
  padding-left: 10px;
}

.errtext h1, p, h2, a {
  color: white;
  text-align: center;
}